:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light;
  color: #000;
  background-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 50px;
  min-height: 100vh;
}
